@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
body{
  width:100%;
  height:100%;
  font-family: 'Montserrat', sans-serif;
}

.header{
  height:3em;
  background:#3caea3;
}
.sidebar{
  width:10em;
  height:calc(100% - 3em);
  background:#eee;
  float:left;
}
.sidebar .nav{
  padding:1em;
  background: #fff;
  cursor:pointer;
}
.art-pagetitle{
  background: #fff;
  padding:0.5em;
}
.art-detail .row{
margin-top: 1em;
}

.art-detail .row .title{
  font-weight: 800;
  }
  
.art-pagetitle .title{
  font-weight: 600;
}

.main{
  width:100%;
  height:calc(100% - 3em);
  /* background:#edf; */
  float:left;
  padding:2em;
  overflow-y: auto;
}
.main h3{
  text-align: center;
  margin: 1em 0;
}
.grid{
  min-height: 10em;
  margin-top: 1em;
  border: solid #ccc 0.1em;
  background: #eee;
  padding:0.1em;
  clear: both;
  float: none;
  /* border-radius: 1em; */
}

.grid .image{
  height: 10em;
  float:left;
}
.grid .text{
  /* height:10em; */
  float:left;
  /* padding:3em 1em; */
}

.grid .text h3{
  font-size: 1.2em;
  font-weight: 800;
  text-align: left;
  padding: 0;
  margin:0
}

.grid .text p{
  font-size: 0.8em;
}
.grid .actions{
  /* height:10em; */
  float:left;
}

.grid .actions p{
  /* text-align: center !important;
  line-height: 10em;
  cursor: pointer; */
}

.grid .main-action{
  height:10em;
  float:left;
  padding:1em;
}

.grid .main-action .btn{
  /* margin: 3em auto; */
  width:100%;
}